/*-- scss:defaults --*/

.reveal h1.title {
    font-size: 60px;
    color: darkblue;
  }

.reveal div.quarto-title-author-name {
    font-size: 36px;
    color: darkslategrey;
    margin-top: 60px;
  }

  .reveal p.date {
    font-size: 36px;
    color: darkslategrey;
  }

  .reveal .title-slide h1 {
    font-size: 40px;
    color: darkblue
  }

  .reveal .slide h1 {
    font-size: 44px;
    color: darkblue
  }
  
.reveal .slide h2 {
    font-size: 40px;
    color: darkslateblue
  }
  
.reveal .slide ul {
    font-size: 26px;
    font-weight: normal;
  }
  
  .reveal .slide ol {
    font-size: 26px;
    font-weight: normal;
  }

  .reveal .slide p {
    font-size: 26px;
    font-weight: normal;
  }

